<a href="https://colab.research.google.com/github/tejalvs/RobotOdometryMining/blob/main/Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import confusion_matrix
import plotly.express as px

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
roomba_data=pd.read_csv('/content/drive/My Drive/Roomba_XY.csv')
mobile_robot_data=pd.read_csv('/content/drive/My Drive/MobileRobot_XY.csv')

In [4]:
roomba_data.head()

   Unnamed: 0  X_ODOM  Y_ODOM  ...  X_error  Y_error                timestamp
0           0     0.0     0.0  ...      NaN      NaN  2021-10-27 15:41:32.103
1           1     0.0     0.0  ...      NaN      NaN  2021-10-27 15:41:32.149
2           2     0.0     0.0  ...      NaN      NaN  2021-10-27 15:41:33.212
3           3     0.0     0.0  ...      NaN      NaN  2021-10-27 15:41:33.227
4           4     0.0     0.0  ...      NaN      NaN  2021-10-27 15:41:33.243

[5 rows x 18 columns]

In [5]:
mobile_robot_data.tail()

       Unnamed: 0  X_ODOM  Y_ODOM  ...   X_error   Y_error                timestamp
14806       14806   2.077  -0.007  ...  0.666759  0.003800  2021-10-30 13:17:26.993
14807       14807   2.077  -0.007  ...  0.662488  0.003793  2021-10-30 13:17:27.092
14808       14808   2.077  -0.007  ...  0.656178  0.003784  2021-10-30 13:17:27.193
14809       14809   2.077  -0.007  ...  0.649981  0.003774  2021-10-30 13:17:27.290
14810       14810   2.077  -0.007  ...  0.645910  0.003768  2021-10-30 13:17:27.389

[5 rows x 18 columns]

In [6]:
roomba_data = roomba_data.dropna()
roomba_data.isnull().sum()

Unnamed: 0                  0
X_ODOM                      0
Y_ODOM                      0
Theta                       0
Velocity                    0
Odometry_Distance           0
X_GR                        0
Y_GR                        0
Ground_Truth_Distance       0
Surface_Type                0
Time_To_Travel              0
Cumulative_Time             0
Cumulative_Theta            0
Series_ID                   0
Distance_travelled_error    0
X_error                     0
Y_error                     0
timestamp                   0
dtype: int64

In [7]:
roomba_data['is_duplicate'] = roomba_data.duplicated()
roomba_data['is_duplicate'].value_counts()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

False    3815
Name: is_duplicate, dtype: int64

In [8]:
roomba_data=roomba_data.drop(columns=['is_duplicate'])

In [9]:

mobile_robot_data = mobile_robot_data.dropna()
mobile_robot_data.isnull().sum()

Unnamed: 0                  0
X_ODOM                      0
Y_ODOM                      0
Theta                       0
Velocity                    0
Odometry_Distance           0
X_GR                        0
Y_GR                        0
Ground_Truth_Distance       0
Surface_Type                0
Time_To_Travel              0
Cumulative_Time             0
Cumulative_Theta            0
Series_ID                   0
Distance_travelled_error    0
X_error                     0
Y_error                     0
timestamp                   0
dtype: int64

In [10]:
mobile_robot_data['is_duplicate'] = mobile_robot_data.duplicated()
mobile_robot_data['is_duplicate'].value_counts()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

False    13318
Name: is_duplicate, dtype: int64

In [11]:
mobile_robot_data=mobile_robot_data.drop(columns=['is_duplicate'])

In [12]:
mobile_robot_data.to_csv('/content/drive/My Drive/MobileRobot_XY_cleaned.csv', sep=',')
roomba_data.to_csv('/content/drive/My Drive/RoombaData_XY_cleaned.csv', sep=',')